/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
evote.zip
Laravel/.editorconfig
Laravel/.env
Laravel/.env.example
Laravel/.gitattributes
Laravel/.gitignore
Laravel/.styleci.yml
Laravel/artisan
Laravel/composer.json
Laravel/composer.lock
Laravel/docker-compose.yml
Laravel/Laravel.zip
Laravel/package.json
Laravel/phpunit.xml
Laravel/README.md
Laravel/server.php
Laravel/webpack.mix.js
Laravel/app/Console/Kernel.php
Laravel/app/Exceptions/Handler.php
Laravel/app/Http/Kernel.php
Laravel/app/Http/Controllers/authController.php
Laravel/app/Http/Controllers/Controller.php
Laravel/app/Http/Controllers/mailController.php
Laravel/app/Http/Controllers/votingController.php
Laravel/app/Http/Middleware/Authenticate.php
Laravel/app/Http/Middleware/ceklogin.php
Laravel/app/Http/Middleware/EncryptCookies.php
Laravel/app/Http/Middleware/PreventRequestsDuringMaintenance.php
Laravel/app/Http/Middleware/RedirectIfAuthenticated.php
Laravel/app/Http/Middleware/TrimStrings.php
Laravel/app/Http/Middleware/TrustHosts.php
Laravel/app/Http/Middleware/TrustProxies.php
Laravel/app/Http/Middleware/VerifyCsrfToken.php
Laravel/app/Mail/sendmail.php
Laravel/app/Models/User.php
Laravel/app/Providers/AppServiceProvider.php
Laravel/app/Providers/AuthServiceProvider.php
Laravel/app/Providers/BroadcastServiceProvider.php
Laravel/app/Providers/EventServiceProvider.php
Laravel/app/Providers/RouteServiceProvider.php
Laravel/bootstrap/app.php
Laravel/bootstrap/cache/.gitignore
Laravel/config/app.php
Laravel/config/auth.php
Laravel/config/broadcasting.php
Laravel/config/cache.php
Laravel/config/cors.php
Laravel/config/database.php
Laravel/config/filesystems.php
Laravel/config/hashing.php
Laravel/config/logging.php
Laravel/config/mail.php
Laravel/config/queue.php
Laravel/config/services.php
Laravel/config/session.php
Laravel/config/view.php
Laravel/database/.gitignore
Laravel/database/factories/UserFactory.php
Laravel/database/migrations/2014_10_12_000000_create_users_table.php
Laravel/database/migrations/2014_10_12_100000_create_password_resets_table.php
Laravel/database/migrations/2019_08_19_000000_create_failed_jobs_table.php
Laravel/database/migrations/2020_12_13_223857_create_voting_table.php
Laravel/database/seeders/akunseeder.php
Laravel/database/seeders/data protestan fix.csv
Laravel/database/seeders/DatabaseSeeder.php
Laravel/database/seeders/users.csv
Laravel/public/.htaccess
Laravel/public/evote.sql
Laravel/public/favicon.ico
Laravel/public/index.php
Laravel/public/robots.txt
Laravel/public/users.sql
Laravel/public/web.config
Laravel/public/css/master.css
Laravel/public/img/bgground2.jpg
Laravel/public/img/Calon1.jpg
Laravel/public/img/Calon2.jpg
Laravel/public/img/cv_alfina.jpg
Laravel/public/img/cv_frikles.jpg
Laravel/public/img/KANDIDAT1.png
Laravel/public/img/KANDIDAT2.png
Laravel/public/img/Panduan.jpg
Laravel/public/img/pemira.png
Laravel/public/img/pmk.jpeg
Laravel/resources/css/app.css
Laravel/resources/js/app.js
Laravel/resources/js/bootstrap.js
Laravel/resources/lang/en/auth.php
Laravel/resources/lang/en/pagination.php
Laravel/resources/lang/en/passwords.php
Laravel/resources/lang/en/validation.php
Laravel/resources/views/cariuser.blade.php
Laravel/resources/views/datauser.blade.php
Laravel/resources/views/hasil.blade.php
Laravel/resources/views/home.blade.php
Laravel/resources/views/login.blade.php
Laravel/resources/views/profil.blade.php
Laravel/resources/views/Voting.blade.php
Laravel/resources/views/welcome.blade.php
Laravel/resources/views/Layout/homemaster.blade.php
Laravel/resources/views/Layout/loginmaster.blade.php
Laravel/resources/views/emails/sendakun.blade.php
Laravel/routes/api.php
Laravel/routes/channels.php
Laravel/routes/console.php
Laravel/routes/web.php
Laravel/storage/app/.gitignore
Laravel/storage/app/public/.gitignore
Laravel/storage/framework/.gitignore
Laravel/storage/framework/cache/.gitignore
Laravel/storage/framework/cache/data/.gitignore
Laravel/storage/framework/sessions/.gitignore
Laravel/storage/framework/testing/.gitignore
Laravel/storage/framework/views/.gitignore
Laravel/storage/logs/.gitignore
Laravel/tests/CreatesApplication.php
Laravel/tests/TestCase.php
Laravel/tests/Feature/ExampleTest.php
Laravel/tests/Unit/ExampleTest.php
Laravel/bootstrap/cache/.gitignore
Laravel/storage/app/.gitignore
Laravel/storage/app/public/.gitignore
Laravel/storage/framework/cache/.gitignore
Laravel/storage/framework/cache/data/.gitignore
Laravel/storage/framework/sessions/.gitignore
Laravel/storage/framework/testing/.gitignore
Laravel/storage/framework/views/.gitignore
Laravel/storage/logs/.gitignore
Laravel/bootstrap/cache/.gitignore
Laravel/storage/app/.gitignore
Laravel/storage/app/public/.gitignore
Laravel/storage/framework/cache/.gitignore
Laravel/storage/framework/cache/data/.gitignore
Laravel/storage/framework/sessions/.gitignore
Laravel/storage/framework/testing/.gitignore
Laravel/storage/framework/views/.gitignore
Laravel/storage/logs/.gitignore
Laravel/bootstrap/cache/.gitignore
Laravel/storage/app/.gitignore
Laravel/storage/app/public/.gitignore
Laravel/storage/framework/cache/.gitignore
Laravel/storage/framework/cache/data/.gitignore
Laravel/storage/framework/sessions/.gitignore
Laravel/storage/framework/testing/.gitignore
Laravel/storage/framework/views/.gitignore
Laravel/storage/logs/.gitignore
